body {
background-image:url("note.jpg");
/*background-position: center;*/
background-size: cover;

}

#listOfItems {
    text-align: center;
    margin-top: 170px;

}

p {
  font-family: 'Caveat Brush', cursive;
  font-size: 30px;
}

.button {
  display: inline-block;
  padding: 6px 10px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #3BC14A;
  border: none;
  border-radius: 15px;
  box-shadow: 0 2px #4D5057;
}

.button:hover {background-color: #4DA167}

.button:active {
  background-color: #4E6E5D;
  box-shadow: 0 2px #4D5057;
  transform: translateY(4px);
}
